<html>
<head>
    <title>Status Time Report Page</title>
    <meta name="decorator" content="atl.general">
</head>
<body class="page-type-admin">
<div class="content-container">

    <div class="content-body">

        <h1>#if($issues.size()==0)You have no Issues or Project doesn't exist.#end</h1>

        #if ($errors.size()>0)
            <div class="aui-message error shadowed">
                #foreach($error in $errors)
                    <p class="title">
                        <span class="aui-icon icon-error"></span>
                        <strong>$error</strong>
                    </p>
                #end
            </div>
            <!-- .aui-message -->
        #end

        #if ($issues.size() > 0)
            <div class="issues">
                <table class="aui">
                    <thead>
                    <tr>
                        #if ($issueFields.contains("Key"))
                            <th>Key</th>
                        #end
                        #if ($issueFields.contains("Summary"))
                            <th>Summary</th>
                        #end
                        #if ($issueFields.contains("Description"))
                            <th>Description</th>
                        #end
                        #if ($issueFields.contains("Status"))
                            <th>Status</th>
                        #end
                        #if ($issueFields.contains("Reporter"))
                            <th>Reporter</th>
                        #end
                        <th>Time in previous status</th>
                        <th>Time in current status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach( $issue in $issues )
                        <tr>
                            #if ($issueFields.contains("Key"))
                                <td>$issue.getIssue().getKey()</td>
                            #end
                            #if ($issueFields.contains("Summary"))
                                <td>$issue.getIssue().getSummary()</td>
                            #end
                            #if ($issueFields.contains("Description"))
                                <td>
                                    #if($issue.getIssue().getDescription())
                                        $issue.getIssue().getDescription()
                                    #end
                                </td>
                            #end
                            #if ($issueFields.contains("Status"))
                                <td>
                                    $issue.getIssue().getStatus().getSimpleStatus().getName()
                                </td>
                            #end
                            #if ($issueFields.contains("Reporter"))
                                <td>
                                    $issue.getIssue().getReporter().getName()
                                </td>
                            #end
                            <td>
                                $issue.getTimeInPreviousStatus("dd' days 'HH:mm")
                            </td>
                            <td>
                                $issue.getTimeInCurrentStatus("dd' days 'HH:mm")
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        #end
    </div>
</div>
</body>
</html>